input.button {
	margin-right : 20px;
	margin-top  : 12px;
	margin-bottom : 12px;
	
	float: left;
}

.yui-skin-sam .yui-ac {
	 width:200px;
}			
.yui-skin-sam .yui-ac-content li {
	 background:#FFFFCC;
	 color:#33CC00; 
}			
.yui-skin-sam .yui-ac-content li.yui-ac-prehighlight { 
	 background:#B3D4FF; 
}
.yui-skin-sam .yui-ac-content li.yui-ac-highlight { 
	 background:#CCFF66;color:#FFFFFF; 
}